<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
</head>
<body>

<h2>Add Expense</h2>

<form method="post">
    Amount:
    <input type="number" step="0.01" name="amount" required><br>

    Category:
    <input type="text" name="category" required><br>

    Currency:
    <input type="text" name="currency" value="PLN"><br>

    Description:
    <input type="text" name="description"><br>

    <button type="submit">Add</button>
</form>

<br>
<a href="/expenses">View expenses</a>

<hr>
<a href="/">Home</a>

</body>
</html>
